* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
    width: 100%;

}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;

}

.choice {
    height: 165px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
}

.score-board {
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;

}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: inline;

}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset-btn {
    margin-top: 3rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: #081b31;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}